{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EleRec</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        .jumbotron {
            background-size: cover;
            text-align: center;
        }
        .jumbotron img{
            width: 50%;
            height: auto;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3875d7;">
        <div class="container-fluid">
            <a class="navbar-brand logo" href="{% url 'index' %}" style="color: white;font-weight: bold">EleRec</a>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <img src="{% static 'img.png' %}" alt="Background Image">
            <h1 class="display-4">EleRec</h1>
            <p class="bolder">Záznamy činností práce vo firme EleRec</p>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <h2>Prihlásenie zamestnanci</h2>
                    <p>Prihláste sa a zaznamenajte svoju prácu.</p>
                    <a href="{% url 'employee' %}" class="btn btn-primary">Prihlásiť sa</a>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <h2>Prihlásenie vedenie</h2>
                    <p>Prihláste sa pre prístup k riadiacemu panelu.</p>
                    <a href="{% url 'management' %}" class="btn btn-primary">Prihlásiť sa</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>




